@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body {
  margin: 0;
  background-color: black;
  overscroll-behavior: none;
  overflow: hidden;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.rain {
  display: block;
  position: absolute;
  top: 0;
  left: -5vw;
  width: 110vw;
  height: 100vh;
  .front_row {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .back_row {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    bottom: 60px;
    opacity: 0.5;
  }

  .drop {
    position: absolute;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;

    .stem {
      position: absolute;
      width: 2px;
      height: 60%;
      margin-left: 7px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.3)
      );
      animation: stem 0.5s linear infinite;
    }
  }
  @keyframes drop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    85% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}
