name: Deploy to GitHub Pages

on:
  push:
    branches:
      - nuxt-app
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install dependencies
        run: cd bonfire-app && yarn install --frozen-lockfile

      - name: Build static files
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: cd bonfire-app && yarn generate

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./bonfire-app/docs
          cname: minatcher.github.io/cyber-takibi/
